<!DOCTYPE html>
<html lang="en">
<head>
 <% include ../partials/head %> 
 <link rel="stylesheet" href="./stylesheets/cart.css">
</head>
<body>
  
  <header>
    <% include ../partials/menu %>
  </header>
  
  <main class="mt-5 pt-5 container" style="height: 100vh;">
    <h4 class="mt-0 mb-3">Cart | <span class="text-beige">Checkout</span> </h4>
    <hr/>
    <ul class="list-group list-group-flush product-array">
    </ul>
    <hr/>
    <section class="container total-container" style="display: none;">
      <div class="d-flex justify-content-center">
          <p class="text-uppercase">total</p>
          <h4 class="mx-4" id="total">₦ <span class="total"></span></h4>
      </div>
      <div class="text-center">
        <button 
        class="btn col-4 btn-warning"
        type="button"
        data-mdb-toggle="modal"
        data-mdb-target="#paymentModal"
        >Proceed to Checkout</button>
      </div>
      <section id="checkout-modal-section">
        <div
          class="modal fade"
          id="paymentModal"
          tabindex="-1"
          aria-labelledby="paymentModalLabel"
          aria-hidden="true"
        >
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="paymentModalLabel">Checkout</h5>
                <button
                  type="button"
                  class="btn-close"
                  data-mdb-dismiss="modal"
                  aria-label="Close"
                ></button>
              </div>
              <div class="modal-body container">
                <form id="paymentForm">
                  <section id="error" class="bg-danger p-2 mb-2" style="display: none;">
                    <p class="text-light m-0" id="missing" style="display: none;">Some fields are missing</p>
                    <p class="text-light m-0" id="email-error" style="display: none;">Incorrect Email</p>
                  </section>
                  <div class="form-outline mb-4">
                    <input type="text" id="username" class="form-control" />
                    <label class="form-label" for="username">Your name</label>
                  </div>
                  <div class="form-outline mb-4">
                    <input type="email" id="email" class="form-control" validate/>
                    <label class="form-label" for="email">Email address</label>
                  </div>
                  <div class="form-outline mb-4">
                    <input type="number" id="pnumber" class="form-control" required />
                    <label class="form-label" for="pnumber">Phone number</label>
                  </div>
                  <button class="btn col-4 btn-success" onclick="payWithPaystack()">Pay Now</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </section>
    </section>

  </main>

</body>
<% include ../partials/script %>
<script src="/javascripts/cart.js"></script>
<script src="/javascripts/pay.js"></script>

</html>