<!DOCTYPE html>
<html lang="en">
<head>
 <% include ../partials/head %> 
 <link rel="stylesheet" href="./stylesheets/main.css">
</head>
<body>
  
  <header>
    <% include ../partials/menu %>
  </header>
  
  <% include ../partials/script %>
  <% include ../partials/footer %>
  
</body>
</html>