<!DOCTYPE html>
<html lang="en">
<head>
 <% include ../partials/head %> 
 <link rel="stylesheet" href="./stylesheets/main.css">
</head>
<body>
  
  <header>
    <% include ../partials/menu %>
  </header>
  
  <main>

  </main>

  <footer>

  </footer>

</body>
<% include ../partials/script %>
</html>