<footer class="bg-light text-center text-lg-start">
  <!-- Grid container -->
  <div class="container p-4">
      <!--Grid row-->
      <div class="row">
          <!--Grid column-->
          <div class="text-center">
              <h5 class="text-center">Connect with Us</h5>
              <ul class="list-group list-group-horizontal justify-content-center">
                  <li class="list-group-item">
                      <i class="fab fa-twitter"></i>
                  </li>
                  <li class="list-group-item">
                      <i class="fab fa-instagram"></i>
                  </li>
                  <li class="list-group-item">
                      <i class="fab fa-facebook"></i>
                  </li>
                  <li class="list-group-item">
                      <i class="fab fa-whatsapp"></i>
                  </li>
              </ul>
          </div>
          <!--Grid column-->
      </div>
      <!--Grid row-->
  </div>
  <!-- Grid container -->
  <!-- Copyright -->
  <div class="text-center p-3"  style="background-color: tomato;">
      © 2021: Lalehousehold
      <br/> Developed by
      <a class="text-info" href="https://saslamp.github.io/">SAS</a>
  </div>
  <!-- Copyright -->
</footer>