<!DOCTYPE html>
<html lang="en">
<head>
 <% include partials/head %> 
 <link rel="stylesheet" href="./stylesheets/main.css">
 <style>
     body {
         width: 100vw;
     }
 </style>
</head>
<body>
  <header>
    <% include partials/menu %>
    <section class="head">
      <div class="container">
          <div class="row">
              <div class="col-md d-flex align-items-center">
                  <div class="flex-column">
                      <h1 class="mb-3 header-1">Lalehousehold</h1>
                      <h4 class="mb-3 header-3">Your one-stop shop for all things household</h4>
                      <a class="btn btn-red shadow-none" href="#categories">shop now</a>
                  </div>
              </div>
              <div class="col-md">
                <img src="/images/header-crop2.jpg" class="img-fluid header-img" alt="chairs">
              </div>
          </div>
      </div>
    </section>
  </header>

  <main class="container">
    <section class="container" data-aos="zoom-in" data-aos-duration="1500">
        <h2 class="header-2">Hello.</h2>
        <div class="row">
            <p class="col-6 text-bg d-flex align-items-center text-light">Let's make your house a home!</p>
        </div>
    </section>
    <section class="conatainer mt-3" id="categories">
        <div class="row">
            <div class="col-md-7">
                <figure class="figure">
                    <img
                        src="/images/sofa.jpg"
                        class="figure-img img-fluid rounded shadow-3 mb-3"
                        alt="sofa"
                    >
                    <figcaption class="figure-caption">
                        <a class="figure-link" href="/homedeco">
                            Home Deco
                            <span class="pull-right">
                                <i class="fas fa-chevron-circle-right"></i>
                            </span>
                        </a>
                    </figcaption>
                </figure>
            </div>
            <div class="col-md-5 d-flex align-items-center">
                <p class="home-text">
                    We've got your Kitchen covered!<br/>
                    From cookware to dinnerare sets, culteries, and other kitchen items - you can count on us.
                </p>
            </div>
        </div>
    </section>
    <section class="conatainer mt-5">
        <div class="row">
            <div class="col-md-5 d-flex align-items-center">
                <p class="home-text hide-on-mobile">
                    Furniture, home decor, art, rugs, pillows — you name it, we've got it!<br/>
                    Shop for original — and top quality - items at prices that won't hurt your wallet!
                </p>
            </div>
            <div class="col-md-7">
                <figure class="figure">
                    <img
                        src="/images/kitchen.jpg"
                        class="figure-img img-fluid rounded shadow-3 mb-3"
                        alt="..."
                    >
                    <figcaption class="figure-caption">
                        <a class="figure-link" href="/kitchen">
                            Kitchen Collection
                            <span class="pull-right">
                                <i class="fas fa-chevron-circle-right"></i>
                            </span>
                        </a>
                    </figcaption>
                    <p class="home-text show-on-mobile">
                        Furniture, home decor, art, rugs, pillows — you name it, we've got it!<br/>
                        Shop for original — and top quality - items at prices that won't hurt your wallet!
                    </p>
                </figure>
            </div>
        </div>
    </section>
    <hr>
    <section class="conatainer pt-5">
        <div class="row py-5">
            <div class="col-md-6">
                <figure class="figure">
                    <img
                        src="/images/pillows.jpg"
                        class="figure-img img-fluid rounded shadow-3 mb-3"
                        alt="..."
                    >
                    <figcaption class="figure-caption">
                        <a class="figure-link" href="">
                            Pillows
                            <span class="pull-right">
                                <i class="fas fa-chevron-circle-right"></i>
                            </span>
                        </a>
                    </figcaption>
                </figure>
            </div>
            <div class="col-md-6">
                <figure class="figure">
                    <img
                        src="/images/chair.jpg"
                        class="figure-img img-fluid rounded shadow-3 mb-3"
                        alt="..."
                    >
                    <figcaption class="figure-caption">
                        <a class="figure-link" href="">
                            & More
                            <span class="pull-right">
                                <i class="fas fa-chevron-circle-right"></i>
                            </span>
                        </a>
                    </figcaption>
                </figure>
            </div>
        </div>
    </section>
    <section class="advert">
        <div class="row">
            <div class="col-md-6 d-flex align-items-center justify-content-center">
                <div class="flex-column text-uppercase">
                    <h6>Get quality clothing items at affordable price!</h6>
                    <p>
                        Shop at
                        <a href="http://faaizz.bss.design/">Lale Clothing</a>
                    </p>
                </div>
            </div>
            <img class="col-md-6 clothing" src="/images/clothing.jpg" alt="clothing">
        </div>
    </section>
</main>

<% include partials/script %>
<script src="/javascripts/cart.js"></script>
<% include partials/footer %>

</body>
</html>
