<!DOCTYPE html>
<html lang="en">
<head>
 <% include partials/head %> 
</head>
<body>
<% include partials/menu %>
<div class="container-fluid bg-3 text-center">    
  <div class="p-5">
    <em>updating...</em>
  </div>
</div>
</body>
<% include partials/script %>
</html>
