<!DOCTYPE html>
<html lang="en">
    <head>
     <% include partials/head %> 
    </head>
    <body>
        <main class="d-flex align-items-center justify-content-center" style="height: 100vh;">
          <div class="card border p-5">
            <h5 class="card-title">
              <i class="fas fa-sign-in-alt"></i>
              <span class="text-muted">Create Login Credentials,</span>
            </h5>
            <div class="card-body">
              <form style="width: 50vw;" action="/auth/signup" method="POST">
                <!-- Email input -->
                <div class="form-outline mb-5">
                  <input type="email" id="email" name="email" class="form-control" required />
                  <label class="form-label" for="email">Email address</label>
                </div>
              
                <!-- Password input -->
                <div class="form-outline mb-5">
                  <input type="password" id="password" name="password" class="form-control" required/>
                  <label class="form-label" for="password">Password</label>
                </div>
              
                <!-- Submit button -->
                <button type="submit" class="btn btn-primary btn-warning">Create User</button>
              </form>
            </div>
            <card class="card-footer">
              Return to <a href="/">homepage</a>
            </card>
          </div>
        </main>
    </body>
</html>
